@use 'vars' as v;

@mixin tel{
    @media (min-width:v.$tel) {
        @content;
    }
}

@mixin tablet{
    @media (min-width:v.$tablet) {
        @content;
    }
}

@mixin desktop{
    @media (min-width:v.$desktop) {
        @content;
    }
}

@mixin btn($color, $txt) {
    background-color: $color;
    font-size: 2rem;
    padding: 1.2rem 4rem;
    font-weight: 700;
    display: block;
    width: 100%;
    text-align: center;
    color: $txt;
    text-decoration: none;
    transition: background-color .3s ease;
    border: none;

    &:hover {
        cursor: pointer;
        background-color: darken($color, 10);
    }

    @include tablet {
        width: auto;
        display: inline-block;
        
    }
}

@mixin h2($headingColor, $borderColor){
    color: $headingColor;
    font-size: 3.5rem;
    margin-top: 0;
    display: inline-block;

    @include tablet {
        margin-top: 5rem;
    }

    &::after{
        content: "";
        background-color: $borderColor;
        height: 1rem;
        display: block;
        width: calc(100% + 1rem);
        margin: -1.4rem 0 0 0;
    }
}