//fonts
$font :'Poppins', sans-serif;

//colors
$primaryColor: #84d9bc;
$secondaryColor: #313c4e; 
$secondaryOpacity: rgb( 57 70 89 / .7 );
$black: #000;
$white: #FFFFFF;

//media queries
$tel : 480px;
$tablet: 768px;
$desktop: 1024px;