@use '../utilities/vars' as v;
@use '../utilities/mixins' as m;

.creation{
    padding: 10rem 0;

    &__grid{
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        @include m.tablet {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.6rem;
            align-items: center;
        }
    }

    &__title{
        @include m.h2(v.$secondaryColor, v.$primaryColor);
    }
}

.business{
    padding: 10rem 0;
    background-color: v.$primaryColor;
    
    &__grid{
        display: flex;
        flex-direction: column;

        @include m.tablet {
            display: grid;
            grid-auto-flow: dense;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.6rem;
            align-items: center;
        }
    }
    &__content{
        @include m.tablet {
            grid-column: 1/3;
        }
    }
    &__title{
        @include m.h2(v.$secondaryColor, v.$white);
    }

    &__img{
        transition-property: transform, rotate;
        transition-duration: .3s;
        transition-timing-function: ease;

        &:hover{
            transform: scale(1.1);
            rotate: 4deg;
        }

        @include m.tablet {
            grid-column: 3/5;
        }
    }
}


