@use '../utilities/vars' as v;
@use '../utilities/mixins' as m;

.creation{
    padding: 10rem 0;

    &__grid{
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        @include m.tablet {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.6rem;
            align-items: center;
        }
    }

    &__title{
        @include m.h2(v.$secondaryColor, v.$primaryColor);
    }
}


